
body {
	margin: 0;
	background-color: #fff;
	color: #bbb;
	font-family: "Gill Sans", "MS Trebuchet", sans-serif;
	letter-spacing: 0.0em;
	font-size: 14.5px;
}
img{border:none;}

a {color:#30ff00;}
a:hover {color:#000;}

a:visited {color:#30ff00;}

div#page{margin:10pt 10pt 100pt 10pt; padding:20px;}
div#footer {
	background: #333;
	position: bottom;
	padding: 50px
}
.even {background: #eee; color:#333;}
.odd {background: #555; color:#fff;}

